/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li > ol {
    padding-left:25px;
}

body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #FAFAFA;
    /*font-family: 'Inter', sans-serif;*/
}

a {
    text-decoration: none;
    color: #333;
}

h2 {
    color: #E0E0E0;
}

#a-link{
    color: #81dc27;
    background-color: transparent;
    text-decoration: none;
}

.navbar .logo img {
    width: 3.5em;
    height: auto;
}

/* Navbar Styling */
.navbar {
    display: flex;
    flex-direction: row;  /* horizontal layout */
    justify-content: space-between;
    align-items: right;
    padding: 0.5rem 0.5rem;
    background-color: #359e58; /*#0096c7, #88E788, #42a5f5*/
}

.navbar .logo a {
    color: #fff;
    font-size: 1em;
    font-weight: bold;
    margin-left: 0.75em;
}

/* Make the nav-links vertically stacked */
.nav-links {
    list-style: none;
    display: flex;
    flex-direction: column; 
    align-items: center;
}

.nav-links li {
    margin: 10px 0; 
}

.nav-links a {
    color: #fff;
    padding: 10px;
    text-transform: uppercase;
    font-weight: bold;
    display: block;
}

/* Styling for hover effect */
.nav-links a:hover {
    background-color: #007c03;
}

/* Media Query for Larger Screens */
@media screen and (min-width: 768px) {
    .navbar {
        flex-direction: row;  /* horizontal on large screens */
    }

    .nav-links {
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    .nav-links li {
        margin: 0 20px;
    }
}

/* Media Query for Mobile / Small Screen */
@media screen and (max-width: 768px) {
    .navbar {
        flex-direction: column; 
        align-items: center;
    }

    .logo {
        margin-bottom: 20px;
    }

    .imageAndText {
        flex-direction: column;
        align-items: center;
        gap: 10px;
        padding-left: 5%;
        padding-right: 5%;
    }

    #mainImage {
        width: 80% !important;
        height: auto;
        padding-bottom: 5%;
    }

    #mainBlock {
        flex-direction: column;
        justify-content: center;
    }

    #left-content {
        width: 100% !important;
        padding-left: 5%;
        padding-right: 5%;
        padding-bottom: 5%;
    }

    #right-chart {
        display: block;
        margin: auto;
        width: 50%;
        height: auto;
        padding: 5%;
    }
}

/* Footer styling */
footer {
    text-align: center;
    padding: 20px;
    background-color: #212121;
    color: white;
}

footer a {
    margin: 0 10px;
}

footer img {
    width: 30px; 
    height: 30px; 
    transition: transform 0.3s ease;
}

footer img:hover {
    transform: scale(1.1);
}

/* Home */
#mainHeader {
    text-align: center;
    padding-top: 1em;
    padding-bottom: 0.25em;
    font-size: 3em;
}

#mainBlock {
    padding-top: 5%;
    padding-left: 5%;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    max-width: 100%;
}

#right-chart {
    flex: 1;
    width: 50%;
}

#right-chart img {
    max-width: 100%;
    height: auto;
    padding-right: 5%;
}

#left-content {
    width: 50%;
    flex: 1;
    margin-right: 5%
}

#mainSubHeader {
    text-align: center;
    padding-bottom: 2em;
    padding-left: 5%;
    padding-right: 5%;
    font-size: 0.95em;
}

#mainImage {
    width: 40%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.imageAndText {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 5%;
    padding-right: 5%;
}

.content {
    padding-left: 20px;
}

mark {
    background-color: #ebed49

    ;
    color: black;
}

/* Organization Page */
.row {
    text-align: center;
    padding-bottom: 2em;
    display: inline-block;
    padding: 5%;
}

.row2 {
    text-align: center;
    padding-bottom: 2em;
    padding: 5%;
}

.col {
    float: left;
    width: 33.3%;
    padding: 1em;
}

.col2 {
    float: left;
    width: 50%;
}

.role {
    color: rgb(173, 173, 173);
}

.teamMember {
    padding: 5%;
}


@media screen and (max-width: 650px) {
    .col {
      width: 100%;
      display: block;
    }
}
/* Assistive Tech Page */

/* Slideshow Gallery */

#accessIntro {
    text-align: center;
    padding-top: 3em;
    padding-bottom: 3em;
    margin-left: 5em;
    margin-right: 5em;
}

.container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    padding-bottom: 5%;
}

.video-container {
    flex: 1;
    max-width: 100%;
    height: 100%;
    margin-left: 5%;
}

.text-container {
    flex: 1;
    max-width: 100%;
    text-align: center;
    align-items: center;
    margin-right: 5em;
}

.video-container iframe {
    width: 100%;
    max-width: 100%;
    height: auto;
    width: 560px;
    height: 315px;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }
    .video-container {
        position: relative;
        overflow: hidden;
        width: 100%;
        padding-top: 56.25%;
    }
    .video-container iframe {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 90%;
        height: 100%;
    }
}

.AwarenessContent {
    text-align: center;
    padding-left: 2em; /* Add some space between the video and text */
}

/* Research Page */

#projectHeaders {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 3%;
    text-align: center;
}

@media screen and (max-width: 768px) {
    
}

@font-face {
    font-family: 'Inter';
    src: url('/Users/dianaalvarado/Desktop/GW/assets/fonts/InterVariable-Italic.ttf') format('truetype'), 
         url('/Users/dianaalvarado/Desktop/GW/assets/fonts/InterVariable.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }